.home-container{
    margin: 10px 0;
    height: 80vh;
}

.topic-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
}
.topic-header{
    text-align: center;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.863);
    color: tomato;
    padding: 15px 0;
    font-weight: 600;
}

@media screen and (max-width:992px)  {
    .topic-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:668px)  {
    .topic-container{
        grid-template-columns: 1fr;
    }
}