.single-question {
    padding: 20px;
    margin: 40px auto;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.2);
}

.correct{
    text-transform: uppercase;
    text-align: center;
}
.option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.single-option {
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid tomato;
    background-color: rgb(252, 188, 176);
}
.single-option:hover{
    background-color: rgb(207, 104, 86);
}
.qsn{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ans{
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background:none;
    width: 100%;
}


@media screen and (max-width:668px) {
    .option{
        grid-template-columns: 1fr;
    }
}